<div>
    <h3>Таблицы API</h3>
    <p><a href="/WebGrid/Groups">Группы студентов</a></p>
    <p><a href="/WebGrid/Students">Список студентов</a></p>
    <p><a href="/WebGrid/Curators">Список кураторов групп</a></p>
</div>