<div class="jumbotron">
    <h3>Тестовый проект на соискание должности .Net Программист</h3>
    <h4>Список используемых ресурсов: </h4>
    <p><a href="https://metanit.com/">metanit.com</a></p>
    <p><a href="https://docs.microsoft.com/ru-ru//">docs.microsoft.com</a></p>
    <p><a href="https://professorweb.ru">professorweb.ru</a></p>
</div>